
@media only screen and (max-width: 900px) {
    header {
        padding: 1em ;
        opacity: 1;
        border-bottom: 1px solid rgb(240, 240, 240);
        background-color: rgb(0, 0, 0);
        position: relative;
        /* color: #5C9F24; */
    }

    header h1 {
        color: #5C9F24;
        font-size: 1em;
    }

    header nav {
        display: none;
    }

    header .fa {
        display: block;
    }

    #mobo-nav {
        text-align: center;
        background-color: #000;
    }

    #mobo-nav li {
        padding: .4em;
        border-bottom: 1px solid #ccc;
    }

    #mobo-nav li a {
        color: #fff;
        font-size: 1em;
    }


    h2 {
        font-size: 1.4em;
        padding: .5em 0;
    }
    h3 {
        font-size: 1.1em;
        padding: 0 0 1.5em 0;
    }

    #slideshow {
        /* display: none; */
    }

    form {
        width: 100%;
    }

    /* .............................................................................. */

    
    
    #about #managers {
        padding: 5em 0;
        flex-direction: column;
    }
    
    #about #managers img {
        max-width: 300px;
        height: 200px;
    }
    
    #managers .fa {
        font-size: 1.2em;
        padding: .4em;
    }
    
    #gallery {
        padding: .5em;
    }

    #games #images {
        flex-wrap: wrap;
    }

    #games #images img {
        width: 100px;
    }

    #contact div {
        padding: 1em;
    }
    
    form input{
        height: 4em;
        padding: 1em;
        font-size: .9em;
        margin: auto;
    }
    
    form textarea {
        padding: 1em;
        font-size: .9em;
        margin: auto;
    }
    
    form span {
        font-size: 1.4em;
    }
    
    form p {
        font-size: 1.2em;
        padding: 1em 0;
    }
    
    form .btn {
        font-size: 1.1em;
        padding: .5em 1em;
    }
    
    footer {
        text-align: center;
        background-color: #212121;
        color: #fff;
    }
    
    footer .fa {
        font-size: 1.5em;
        padding: 1em .7em;
    }
}

